input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    height: 6px;
    background: #9CA3AF;
    background-image: linear-gradient(#fff,#fff);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    border-radius: 2px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
  }

  input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  