---
import Center from "../layouts/Center.astro"
import Google from "../components/Icons/Google.astro";
---

<Center title="Login Page">
    <div class="flex flex-col gap-12 items-center">
        <div>
            <h2 class="text-shadow-lg text-green-500 shadow-green-500 font-bold text-6xl">Welcome to SoundWave</h2>
            <p class="text-2xl text-center">The best way to listen all your favorite music</p>
        </div>
        <button id="login" class="w-fit items-center font-medium text-lg bg-white rounded-md px-5 py-3 text-black flex gap-2">
            <div class="w-8">
                <Google />
            </div>
            SignIn
        </button>
    </div>
</Center>


<script>import { supabase } from "../database";
    document.getElementById("login")?.addEventListener("click",async()=>{
        await supabase.auth.signInWithOAuth({
            provider:"google",
            options:{
                redirectTo:import.meta.env.PUBLIC_REDIRECT_URL
            }
        })
    })
</script>