<h3 class="font-bold text-xl">Genres</h3>
<div class="flex flex-wrap gap-2 [&>span]:font-bold [&>span]:text-sm [&>span]:px-4 [&>span]:py-2 [&>span]:bg-zinc-900 [&>span]:rounded-full [&>span]:w-fit">
    <span>Rock</span>
    <span>Country</span>
    <span>Pop</span>
    <span>Metal</span>
</div>