---
import { supabase } from "../database";
const artists = (await supabase.from("artists").select("*")).data
---
<h3 class="font-bold text-xl">Top Artist</h3>
<div class="grid grid-cols-2 grid-rows-2 gap-2">
    {artists?.map((artist)=><img class="w-full aspect-square object-cover rounded-2xl" src={artist.artist_photo} alt={artist.artist_name} />)}
</div>