---
import {IoIosArrowDown} from "react-icons/io/index"
---
<div class="flex items-center justify-end p-4">
    <div class="w-fit bg-zinc-700 rounded-full flex items-center gap-1">
        <IoIosArrowDown className="text-xl ml-2" />
        <div class="w-11 aspect-square rounded-full overflow-hidden">
            <img src="/perfil.jpg" class="w-full">
        </div>
    </div>
</div>