---
import NavBar from '../components/NavBar.astro';
import Player from "../components/Player"
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			import "../turbo-router.js";
		</script>
	</head>
	<body class="bg-black text-white">
		<div class="flex">
			<NavBar />
			<div class="flex-1 overflow-hidden">
				<div class="p-8 gap-8 flex">
					<slot />
				</div>
			</div>
			<div data-turbo-permanent id="audio-player" class="fixed bottom-0 w-screen">
				<Player client:load />
			</div>
		</div>
	</body>
</html>